#img-body {
    /*background-image: url('../img/logo_v1.png') !important;*/
    position:absolute;
    width: 90%;
    height: 100%;
    z-index: -999;
    left:-350px;
}

body {
    background-color: #FAF4F0 !important;
    
}
header {
    height: 20% !important;
}

h1 {
    font-size: 5.5em !important;
}

header > h1,h2 {
    text-align: center;
}

.col-gauche, .col-droite {
    padding: 30px;
    /*border-style: solid;*/
    /*border-width: 2px;*/
}

.col-droite  {
    border-left: solid 10px #757575;
    margin-left:-10px;
    color: silver;
}

.col-droite > p:hover {
    color: black;
}

.infos-echos {
    color: black;
}

.build-container {
    height: 70%;
    margin-top: 2%;
}

.submit-mail {
    margin-top: 20px;
}

#fa-fb {
    font-size:2em;
}

#fa-fb > i {
    margin-top:0px;
}

